<div class="container content"> 
	<div class="page header"> 
		<div class="container"> 
			<h1> Ruteo Simple </h1>
			<div class="navLinks">
				<a [routerLink]="['/home']"> HOME </a>
				<a [routerLink]="['/destino']"> Destinos </a>
			</div>
		</div>
	</div>

	<router-outlet> </router-outlet>
</div>

<hr class="mb-5">

Fecha: {{ time | async }}